<mat-list>
  <a mat-list-item routerLink="category" [routerLinkActive]="['is-active']">Category</a>
  <a mat-list-item routerLink="post" [routerLinkActive]="['is-active']">Post</a>
  <a mat-list-item routerLink="tag" [routerLinkActive]="['is-active']">Tag</a>
  <a mat-list-item routerLink="comment" [routerLinkActive]="['is-active']">Comment</a>
  <a mat-list-item routerLink="team" [routerLinkActive]="['is-active']">Team</a>
  <a mat-list-item routerLink="user" [routerLinkActive]="['is-active']">User</a>
</mat-list>
